body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

form, table {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

input[type="text"], input[type="password"], input[type="submit"], button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
}

input[type="submit"], button, a {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

input[type="submit"]:hover, button:hover, a:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}
